- for product in products.includes(:default_image, :product_category)
  .col-md-6
    .row
      .col-md-3
        = link_to product_path(product.product_category.permalink, product.permalink) do
          = image_tag product.default_image.path, width: '100px'
      .col-md-9
        %h4= link_to product.name, product_path(product.product_category.permalink, product.permalink)
        %p.info= truncate product.short_description, :length => 90
        %h5= number_to_currency product.price
    - if product.orderable?
      .row
        .col-md-8.offset-by-4
          = link_to "Add to Basket", buy_product_path(product.product_category.permalink, product.permalink), class: 'add btn btn-info pull-right', method: :post