%ul.small-block-grid-2
  - for product in products.includes(:default_image, :product_category)
    %li
      .row
        .large-3.columns
          = image_tag product.default_image.path
        .large-9.columns
          %h4= link_to product.name, product_path(product.product_category.permalink, product.permalink)
          %p.info= truncate product.short_description, :length => 90
      .row
        .large-4.columns
          = number_to_currency product.price
        .large-8.columns
          - if product.orderable?
            = link_to "Add to Basket", buy_product_path(product.product_category.permalink, product.permalink), class: 'add tiny button success right', method: :post