- @page_title = 'Checkout'
= render 'checkout_sidebar'
    
.checkout
  %p
    Fantastic! You're ready to place your order, just follow the instructions below and
    we'll get your products shipped to you as quickly as we can.

  %h3 Review your Shopping Bag
  = render 'shared/order_items', order: @order

  - unless @order.delivery_required? && @order.delivery_service.nil?
    %h3 Your Details
    = form_for @order, url: checkout_path, html: {class: 'checkout disableable'} do |f|
      = f.error_messages
      .row
        .col-md-12
          = field_set_tag do
            .row
              .col-md-3
                = f.label :first_name, 'First Name'
                = f.text_field :first_name, placeholder: 'First Name', class: 'req form-control'
              .col-md-3
                = f.label :last_name, 'Surname'
                = f.text_field :last_name, placeholder: 'Last Name', class: 'req form-control'
              .col-md-6
                = f.label :company, "Company Name"
                = f.text_field :company, placeholder: '(optional)', class: 'form-control'
            .row{style: 'margin-top:10px'}
              .col-md-6
                = f.label :email_address, 'Your E-Mail Address'
                = f.text_field :email_address, class: 'req form-control'
              .col-md-6
                = f.label :phone_number, 'Contact Phone Number'
                = f.text_field :phone_number, class: 'req form-control'
      %hr
      .row
        .col-md-12
          = field_set_tag do
            %h3 Billing Address
            .row
              .col-md-7
                = label_tag 'Line 1', nil, class: 'sr-only'
                = f.text_field :billing_address1, placeholder: 'Line 1', class: 'req form-control'
              .col-md-5
                = label_tag 'Town/City', nil, class: 'sr-only'
                = f.text_field :billing_address3, placeholder: 'Town/City', class: 'req form-control'
            .row{style: 'margin-top:10px;'}
              .col-md-4
                = label_tag 'County', nil, class: 'sr-only'
                = f.text_field :billing_address4, placeholder: 'County', class: 'req form-control'
              .col-md-3
                = label_tag 'Postcode', nil, class: 'sr-only'
                = f.text_field :billing_postcode, placeholder: 'Postcode', class: 'postcode form-control'
              .col-md-5
                = label_tag 'Country', nil, class: 'sr-only'
                = f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, {}, { class: 'form-control' }
            .row{style: 'margin-top:10px;'}
              .col-md-12
                = f.check_box :separate_delivery_address
                = f.label :separate_delivery_address, 'Deliver to a different address?'
            .delivery
              %hr
              %h3 
                Delivery Address
                %small (if different to Billing)
              .row{style: 'margin-top:10px;'}
                .col-md-7
                  = label_tag 'Line 1', nil, class: 'sr-only'
                  = f.text_field :delivery_address1, placeholder: 'Line 1', class: 'form-control'
                .col-md-5
                  = label_tag 'Town/City', nil, class: 'sr-only'
                  = f.text_field :delivery_address3, placeholder: 'Town/City', class: 'form-control'
              .row{style: 'margin-top:10px;'}
                .col-md-4
                  = label_tag 'County', nil, class: 'sr-only'
                  = f.text_field :delivery_address4, placeholder: 'County', class: 'form-control'
                .col-md-3
                  = label_tag 'Postcode', nil, class: 'sr-only'
                  = f.text_field :delivery_postcode, placeholder: 'Postcode', class: 'postcode form-control'
                .col-md-5
                  = f.collection_select :delivery_country_id, Shoppe::Country.ordered, :id, :name, {}, { class: 'form-control' }

      %hr
      = f.submit "Continue to Payment", class: 'btn btn-lg btn-success pull-right'
  - else
    %p Please call us to place this order.